<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../socket.io.js"></script>
</head>
<body>
    <img src="<%-code-%>" alt="">

    <script>
        var socket = io('http://localhost:8080');
        socket.on('connect', function () { });
        socket.on('msg', function (data) {
          alert(data)
        });
        socket.on('disconnect', function () { });
      </script>
</body>
</html>